/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/clutter-mozembed.pc
/clutter-mozembed-0.10.pc
/clutter-mozembed/Makefile
/clutter-mozembed/Makefile.in
/clutter-mozembed/clutter-mozheadless-comms.c
/clutter-mozembed/clutter-mozembed-marshal.c
/clutter-mozembed/clutter-mozembed-marshal.h
/clutter-mozembed/clutter-mozheadless
/clutter-mozembed/stamp-clutter-mozembed-marshal.h
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/config.log
/configure
/data/Makefile
/data/Makefile.in
/data/branding.jar
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/tests/Makefile
/tests/Makefile.in
/tests/test-mozembed
/tests/test-previews

.deps
.libs
*.lo
*.la
*.o
