/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/cluttermozembed/Makefile
/cluttermozembed/Makefile.in
/cluttermozembed/clutter-mozheadless-comms.c
/cluttermozembed/clutter-mozembed-marshal.c
/cluttermozembed/clutter-mozembed-marshal.h
/cluttermozembed/clutter-mozheadless
/cluttermozembed/cluttermozembed.pc
/cluttermozembed/stamp-clutter-mozembed-marshal.h
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/config.log
/configure
/data/Makefile
/data/Makefile.in
/data/branding.jar
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/tests/Makefile
/tests/Makefile.in
/tests/test-mozembed
/tests/test-previews

.deps
.libs
*.lo
*.la
*.o
